
        <h1 style="color:rgb(217, 225, 232)" class="d-flex justify-content-center"> Sign up </h1>

        <%= form_with model: @user, url: sign_up_path do |form| %>
            <% if @user.errors.any? %>
            <div class="alert alert-danger">
                <% form.object.errors.full_messages.each do |message| %>  
                <div><%= message %></div>
                <% end %>
            </div>
            <% end %>
        
        <br>
            <div class=" mb-3 d-flex justify-content-center m-1 p-1">
                <!-- <%= form.label :Name %> -->
                <%= form.text_field :name, class: "form-md", placeholder: "Enter your name"  %>
            </div>
            <div class="mb-3 d-flex justify-content-center m-1 p-1">
                <!-- <%= form.label :Email %> -->
                <%= form.text_field :email, class: "form-md", placeholder: "aditya@gmail.com" %>
            </div>

            <div class="mb-3 d-flex justify-content-center m-1 p-1">  
                <!-- <%= form.label :Password %> -->
                <%= form.password_field :password, class: "form-md", placeholder: "password" %>
            </div>

            <div class="mb-3 d-flex justify-content-center m-1 p-1">
                <!-- <%= form.label :Password_confirmation %> -->
                <%= form.password_field :password_confirmation, class: "form-md", placeholder: "confirm password" %>
            </div>

            <div class="mb-3 d-flex justify-content-center">
                <%= form.submit "SIGN UP", class: "btn btn-primary" %>
            </div>

        <% end %>